html{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT';
}
.Subscribe{
    background-color: red;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: larger;
    color: white;
    margin-left: 20px;
}
.Subscribe:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: rgb(235, 6, 6);
    box-shadow: 2px,2px,2px,0.9;
    transition: 20ms;
}
.Join{
    font-size:larger;
    padding: 10px;
    color: blue;
    background-color: white;
    border-width: 1px;
    border-color: blue;
    margin-left: 20px;
}
.Join:hover{
    cursor: pointer;
    opacity: 0.9;
}
.Tweet{
    background-color: rgb(1, 191, 244);
    font-size: larger;
    padding: 8px;
    border-color: rgb(1, 191, 244);
    border-radius: 10px;
    margin-left: 20px; 
}
.Tweet:hover{
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 1px 1px 2px black;
    transition: 200ms;
}