.Search{
    font-size: 20px; 
}

.overall{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;


}
.channel-img{
    display: grid;
    grid-template-columns: 1fr;
    width: 300px;

}

.thumbnail{
    width: 100%;
}

.channel-dis{
    display: grid;
    grid-template-columns: 50px 1fr;
    font-family: Roboto, arial;
    margin-top: 6px;
    width: 300px;
}

.channel{
    border-radius: 50px;
    width: 45px;
}

.dis{
    vertical-align: top;
}

.head{
    font-size: small;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

.views{
    font-size: small;
    margin-top: 6px;
}